.hero-section {
  background-image: url('img/Rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.header {
  background-color: rgba(255, 255, 255, 0.424);
  height: 84px;
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 65px;
  justify-content: space-between;
}
.header-left {
  display: flex;
  flex-direction: row;
}

.header-left li:not(:first-child) {
  margin: 0 0 0 60px;
}

.header-google {
  color: #000;
  font-size: 14px;
}

.nero {
  max-height: 28px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header-right {
  display: flex;
  flex-direction: row;
}
.key {
}
